<form action="/forgot-password-submit" method="post">
	<div class="input">
		<label for="email_id">email ID</label>
		<input type="email" id="email_id" name="email_id">
	</div>
	<button type="submit">Reset password</button>
</form>