{{# if errors }}
	<section class="errors">
		<ul>
			{{# each errors }}
				<li>{{ this.msg }}</li>
			{{/each}}
		</ul>
	</section>
{{/if}}
<form action="/forgot-password-submit" method="post">
	<div class="input">
		<label for="email_id">email ID</label>
		<input type="email" id="email_id" name="email_id">
	</div>
	<button type="submit">Reset password</button>
</form>