<h1>SMART ATTENDANCE MANAGEMENT</h1>
	<section class="success">
		<h2>Welcome {{id}}</h2>
	</section>
	<form action="/add_student_redirect" method="get">
      <button type="submit">Add new student</button>
    </form>
    <form action="/add_instructor_redirect" method="get">
      <button type="submit">Add new instructor</button>
    </form>
    <form action="/add_ta_redirect" method="get">
      <button type="submit">Add new TA</button>
    </form>
	<form action="/add_course_redirect" method="get">
      <button type="submit">Add new course</button>
    </form>
    <form action="/add_class_redirect" method="get">
      <button type="submit">Add new class</button>
    </form>
    <form action="/add_class_ta_redirect" method="get">
      <button type="submit">Add TA to class</button>
    </form>
    <form action="/add_class_student_redirect" method="get">
      <button type="submit">Add student to class</button>
    </form>
    <form action="/add_class_instructor_redirect" method="get">
      <button type="submit">Add instructor to class</button>
    </form>
    <form action="/get_class_details_redirect" method="get">
      <button type="submit">Get class details</button>
    </form>
	<form action="/logout" method="get">
      <button type="submit">Log Out</button>
    </form>
	




